.txtcntr {
    text-align: center;
}
.foto {
    width: 200px;
    float: right; /* Обтекание картинки по левому краю */
    padding-right: 10px; /* Отступ слева */
    padding-bottom: 10px; /* Отступ снизу */
}